<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/account/create">Sign Up</a></li>
        <li><a href="/account/login">Log In</a></li>
    </ul>
</nav>