<nav>
    <ul>
        <li><a href="/blog/home">Home</a></li>
        <li><a href="/blog/friends">Friends</a></li>
        <li><a href="/blog/blogs">Blogs</a></li>
        <li><a href="/blog/settings">Settings</a></li>
    </ul>
</nav>