<nav>
    <ul>
        <li><a href="/blog/home">Home</a></li>
        <li><a href="">Friends</a></li>
        <li><a href="">Blogs</a></li>
        <li><a href="/blog/settings">Settings</a></li>
    </ul>
</nav>