<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('./blogPartials/nav.ejs') %>
    <header>
        <h1>My Personal Blog</h1>
    </header>
  
    <%- include('../partials/footer.ejs') %>
</body>
</html>