<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <header>
        <h1>Settings</h1>
    </header>
    <%- include('./blogPartials/nav.ejs') %>
    <main>
        <ul>
            <li><button id="logout-button">Log Out</button></li>
            <li>Settings#2</li>
            <li>Settings#3</li>
        </ul>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script type="text/javascript" src="/logout_script.js"></script>
</body>
</html>